ion-card-content {
    border-radius: none;
    padding: auto;
    margin: 0 10px 0 10px;
  }
  .medTitle {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Goudy Old Style';
  }
  .medDes {
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
  }
  a {
    color: green;
    font-weight: 200;
  }